.table {
    border: 1px solid #000000;
    border-collapse: collapse;

    &__td_group {
        text-align: center;
    }

    &__td {
        border: 1px solid #000000;
        padding: 5px;
    }

    &__td_period {
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify;
    }

    &__container {
        display: flex;
    }

    &__name-block {
        margin-right: 10px;
    }

    &__weight-block {
        margin-left: auto;
        text-align: end;
    }

    &__elem-symbol {
        font-size: 22px;
        font-weight: 700;
    }

    &__elem-name {
        font-size: 12px;
    }

    &__elem-number {
        font-size: 12px;
        font-weight: 700;
    }

    &__elem-weight {
        font-size: 13px;
        font-weight: 600;
    }

    &__td_yellow {
        background-color: #f7f12f;
    }

    &__td_pointer {
        cursor: pointer;
        width: 110px;
    }

    &__td_purple {
        background-color: #b182bd;
    }

    &__td_green {
        background-color: #60a862;
    }

    &__td_green-yellow {
        background: linear-gradient(to right top, #60a862 0 50%, #f7f12f 50% 100%);
    }

    &__td_pink-yellow {
        background: linear-gradient(to right top, #d175b7 0 50%, #f7f12f 50% 100%);
    }
}
